
<h2><b>Meeting: </b>{{ meetingId }}</h2>

<div ng-show="!hasAttended" class="row">
	<me></me>

	<div>
		<button class="btn waves-effect waves-light right" ng-disabled="{{pending}}"ng-click="attend()">
			Attend
			<i class="mdi-action-account-circle right"></i>
		</button>
	</div>
</div>

<h4>Attendance:</h4>
<ul class="collection">
	<li ng-repeat="person in attendance" ng-click="statusToggle(person)" class="collection-item">
		{{person.name}}
		<span class="new badge" ng-class="{red:person.status=='late'}">{{person.status}}</span>
	</li>
</ul>

<img class="responsive-img" ng-src="https://api.qrserver.com/v1/create-qr-code/?size=500x500&data={{qrUrl}}" />